.true {
  background-color: #aef35a;
  padding: 1.5rem;
  margin: 1.5rem;
  border: none;
  width: 10rem;
  border-radius: 5%;
  font-family: 'Gowun Dodum', sans-serif;
}

.false {
  background-color: #ccc;
  padding: 1.5rem;
  margin: 1.5rem;
  border: none;
  width: 10rem;
  border-radius: 5%;
  font-family: 'Gowun Dodum', sans-serif;
}