.user_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;

  h1 {
    padding: 0.5rem;
  }

  .my_info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    #user_image {
      border-radius: 30%;
      width: 100%;
      height: 100%;
    }
  }

  .flex_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
  }

  .profile_form {
    display: flex;
    justify-content: center;
    align-items: center;

    form {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .half_wrap {
      padding: 1.4rem;
      display: flex;
      flex-direction: column;
    }

    .inputs {
      display: flex;
      flex-direction: column;

      p {
        font-size: 1.5rem;
      }

      input {
        width: 23rem;
      }
    }
  }
}

@media all and (max-width: 430px) {
  .user_info {
    width: 100%;

    .profile_form {
      width: 75%;

      form {
        width: 100%;
        display: flex;
        flex-direction: column;  
      }

      .half_wrap {
        padding: 0%;
      }
      .inputs {
        p {
          font-size: 1.4rem;
        }

        input {
          width: 100%;
        }
      }
    }
  }
}

@media all and (min-width: 431px) {
  .user_info {
    width: 100%;

    .my_info {
      h2 {
        font-size: 2rem;
      }
    }

    .profile_form {
      .inputs {
        p {
          font-size: 1.7rem;
        }

        input {
          width: 25rem;
        }
      }
    }
  }
}
