.set {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fafafa;

  h1 {
    font-size: 3.2rem;
    font-weight: 500;
  }

  span {
    p {
      font-size: 1.3rem;
    }
  }

  label {
    padding: 0.5rem;
    font-size: 1.4rem;
  }
}

.row_set {
  margin: 4rem 6rem 4rem 6rem;
  display: flex;
  flex-direction: row;
}

.mainContent {
  margin: 0rem 2rem 0rem 2rem;
  width: 60rem;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(133, 133, 133, 0.2),
    0 4px 14px 0 rgba(116, 116, 116, 0.19);
  padding: 2.5rem;
  border-radius: 10px;

  hr {
    margin: 2.5rem 0rem 2.5rem 0rem;
  }

  input {
    padding: 1.2rem;
    font-family: "Gowun Dodum", sans-serif;
    font-size: 1.5rem;
    width: 100%;
    border: 1px solid #ffe449;
    border-radius: 10px;
    margin: 1rem 0rem 1rem 0rem;
  }

  .forms {
    margin: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inputs {
    width: 90%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;

    label {
      width: 14rem;
      text-align: end;
      padding: 0rem 2rem 0rem 2rem;
    }

    input {
      justify-content: center;
    }
  }
}