.next {
  display: flex;
  font-size: 3rem;
  justify-content: center;
  color: white;
  padding: 6rem 7rem 6rem 7rem;
  flex-direction: column;

  button {
    width: 20rem;
    height: 5rem;
    display: inline;
    font-family: 'Gowun Dodum', sans-serif;
    border-radius: 10px;
    border: none;
    margin: 5rem 0 5rem 0rem;
    background-color: #ffe449;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='933' preserveAspectRatio='none' viewBox='0 0 1920 933'%3E%3Cg mask='url(&quot;%23SvgjsMask1914&quot;)' fill='none'%3E%3Crect width='1920' height='933' x='0' y='0' fill='url(%23SvgjsLinearGradient1915)'%3E%3C/rect%3E%3Cpath d='M1984 933L0 933 L0 594.11Q90.99 525.1, 160 616.08Q213.72 573.8, 256 627.52Q256.55 532.07, 352 532.62Q421.31 441.93, 512 511.24Q619.88 459.12, 672 566.99Q743.29 542.28, 768 613.57Q821.22 570.79, 864 624Q866.12 530.12, 960 532.23Q984.5 460.73, 1056 485.22Q1116.49 449.72, 1152 510.21Q1211.29 473.5, 1248 532.78Q1336.16 524.94, 1344 613.11Q1397.2 570.31, 1440 623.5Q1474.74 562.24, 1536 596.97Q1560.42 525.39, 1632 549.81Q1693.18 514.99, 1728 576.18Q1790.4 542.58, 1824 604.98Q1836.61 457.59, 1984 470.2z' fill='rgba(177, 178, 255, 1)'%3E%3C/path%3E%3Cpath d='M1952 933L0 933 L0 741.54Q32.9 678.44, 96 711.34Q146.87 602.21, 256 653.08Q320.33 621.41, 352 685.74Q446.71 620.45, 512 715.16Q527.91 571.07, 672 586.98Q757.7 512.68, 832 598.38Q948.76 555.14, 992 671.9Q1100.73 620.63, 1152 729.37Q1196.95 614.32, 1312 659.27Q1379.36 566.63, 1472 633.98Q1580.25 582.23, 1632 690.48Q1698.02 596.5, 1792 662.52Q1900.68 611.2, 1952 719.89z' fill='rgba(170, 196, 255, 1)'%3E%3C/path%3E%3Cpath d='M1984 933L0 933 L0 771.38Q34.78 710.16, 96 744.95Q125.7 678.65, 192 708.36Q309.09 665.45, 352 782.55Q409.23 743.78, 448 801.01Q511.43 768.44, 544 831.88Q637.29 765.17, 704 858.46Q705.13 699.59, 864 700.71Q930.32 671.03, 960 737.35Q1060.72 742.08, 1056 842.8Q1143.37 770.17, 1216 857.54Q1241.99 787.52, 1312 813.51Q1375.24 716.75, 1472 779.99Q1556.5 768.49, 1568 852.99Q1603.89 728.88, 1728 764.77Q1830.14 706.91, 1888 809.06Q1953.42 778.48, 1984 843.91z' fill='rgba(210, 218, 255, 1)'%3E%3C/path%3E%3Cpath d='M1984 933L0 933 L0 956.34Q57.38 853.72, 160 911.09Q163.7 818.79, 256 822.48Q412.41 818.89, 416 975.31Q484 883.31, 576 951.31Q557.8 837.11, 672 818.91Q766.09 817, 768 911.09Q821.52 804.61, 928 858.13Q969.26 803.39, 1024 844.66Q1096.43 757.09, 1184 829.51Q1269.11 818.62, 1280 903.73Q1370.68 834.41, 1440 925.09Q1460.25 849.34, 1536 869.58Q1625.6 799.18, 1696 888.78Q1729.14 825.92, 1792 859.07Q1866.97 838.04, 1888 913.01Q1923.37 852.38, 1984 887.75z' fill='white'%3E%3C/path%3E%3C/g%3E%3Cdefs%3E%3Cmask id='SvgjsMask1914'%3E%3Crect width='1920' height='933' fill='%23ffffff'%3E%3C/rect%3E%3C/mask%3E%3ClinearGradient x1='12.85%25' y1='-26.45%25' x2='87.15%25' y2='126.45%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1915'%3E%3Cstop stop-color='%230e2a47' offset='0'%3E%3C/stop%3E%3Cstop stop-color='rgba(134, 112, 184, 1)' offset='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  background-size: cover;
}

@media all and (max-width: 540px) {
  .next {
    padding: 4rem;
  }
}